.header-2{
    background-color:var(--green2);
    margin-top: -20px;
}

.header-2 .navbar{
    text-align: center;
}

.header-2 .navbar a{
    color: white;
    padding: 1.2rem;
    font-size: 1.2rem;
    text-decoration: none;
}

.header-2 .navbar a:hover{
    background-color: var(--green3);
}

@media (max-width:515px){
    html{
        font-size: 50%;
    }
}



/*Quantity*/
.number-input input[type="number"] {
    -webkit-appearance: textfield;
   -moz-appearance: textfield;
appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
}

.number-input button {
background-color: transparent;
border: none;
align-items: center;
justify-content: center;
cursor: pointer;
margin: 0;
position: relative;
}

.number-input button:before,
.number-input button:after {
display: inline-block;
position: absolute;
content: '';
height: 2px;
transform: translate(-50%, -50%);
}

.number-input button.plus:after {
transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
text-align: center;
}

.number-input.number-input {
border: 1px solid #ced4da;
width: 10rem;
border-radius: .25rem;
}

.number-input.number-input button {
width: 2.6rem;
height: .7rem;
}

.number-input.number-input button.minus {
padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
width: .7rem;
background-color: #495057;
}

.number-input.number-input input[type=number] {
max-width: 4rem;
padding: .5rem;
border: 1px solid #ced4da;
border-width: 0 1px;
font-size: 1rem;
height: 2rem;
color: #495057;
}


.btnAdd{
   background-color: rgba(164, 183, 171, 1);
}

.fa-heart{
    color: rgba(222, 194, 187, 1);
    font-size: 22px;
}
.fa-heart:hover,
.fa-heart:checked{
    color: red;
}



.card2{

background-color: #fff;
border:none;
border-radius: 10px;
width: 250px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





.btn-show{
    background-color:rgba(222, 194, 187, 1);
    font-size: 0.85rem;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    color: rgba(67, 91, 77, 1);
}
